{{#if resume.skills.length}}
<div class="container skills-container">
  {{> title value="Skills"}}
  
  <div class="skills-list">
    {{#each resume.skills}}
    <div class="skill-category">
      {{#if name}}
      <span class="category-label">{{name}}:</span>
      {{/if}}
      {{#if keywords.length}}
      <span class="skill-keywords">
        {{#each keywords}}{{#unless @first}}, {{/unless}}{{.}}{{/each}}
      </span>
      {{/if}}
    </div>
    {{/each}}
  </div>
</div>
{{/if}}
