{{#if resume.skills.length}}
<div class="container skills-container">
  {{> title value="Skills"}}
  
  <ul>
    {{#each resume.skills}}
    <li class="skill-category">
      {{#if keywords.length}}
        <span class="skill-keywords">
          {{#each keywords}}{{#unless @first}} | {{/unless}}{{.}}{{/each}}
        </span>
      {{/if}}
    </li>
    {{/each}}
  </ul>
</div>
{{/if}}
