.page {
  background: white;
  width: $page-width;
  min-height: $page-height;
  max-width: $page-width;
  max-height: $page-height;
  display: block;
  margin: 0 auto;
  border-top: none;
  padding: 36px 48px 48px 48px;
}

.resume-content {
  width: 100%;
}

.item {
  margin-bottom: spacing(3);

  &:last-child {
    margin-bottom: 0;
  }
}
