body {
  @include nunito();

  background: white;
  letter-spacing: .3px;
  color: $secondary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // text-transform: uppercase;
  margin: 0;
}

h1 {
  @include josefin(700);
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: spacing(1);
}

h2 {
  @include josefin(300);
  font-size: 14px;
  letter-spacing: .5px;
}

h3 {
  @include lato(300);
  font-size: 14px;
  letter-spacing: .4px;

  &.bold {
    font-weight: 700;
  }
}

h4 {
  @include lato(300);
  font-size: 14px;

  &.bold {
    font-weight: 700;
  }
}

h5 {
  @include lato(300);
  font-size: 14px;

  &.italic {
    font-style: italic;
  }
}

h6 {
  @include lato();
  font-size: 14px;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  .fa-external-link {
    font-size: 10px;
    vertical-align: text-top;
  }
}

p,
li {
  font-size: 12px;
}

blockquote {
  font-size: 12px;
  @include lato($isItalic: true);

  margin: spacing(2) spacing(5);
}

em {
  color: $gray-dark;
}

ul {
  margin: spacing(2) 0 0;
  -webkit-padding-start: spacing(5);

  &.minimal {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 3px;
      padding-left: 0;
    }
  }

  &.two-column {
    -webkit-column-count: 2;
    -webkit-column-gap: spacing(5.6);
    column-count: 2;
    column-gap: spacing(5.6);

    li {
      padding-left: 0;
    }
  }
}

@page {
  size: A4;
}
