@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic|Josefin+Sans:300,700|Nunito:300,400,600,700);
@import url(https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);

// Font Mixins

// Lato - 300, 400, 700; Italics
@mixin lato($weight: 400, $isItalic: false) {
  font-family: $primary-font;
  font-weight: $weight;

  @if $isItalic==true {
    font-style: italic;
  }
}

// Josefin - 300, 400, 600, 700
@mixin josefin($weight: 400) {
  font-family: $secondary-font;
  font-weight: $weight;
}

// Nunito - 300, 400, 600, 700
@mixin nunito($weight: 400) {
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  font-weight: $weight;
}

// Spectral - 400, 500 (Medium), 600, 700
@mixin spectral($weight: 500) {
  font-family: 'Spectral', serif;
  font-weight: $weight;
}
