.container {
  padding-top: spacing(4);
  
  &:first-child {
    padding-top: 0;
  }
}

.keyline {
  width: 100%;
  margin: 14px 0 15px;
  border-top: 1px solid $gray;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  h3 {
    font-weight: 700;
    letter-spacing: 0.5px;
    white-space: nowrap;
    flex-shrink: 0;
    margin-right: 10px;
  }
  
  .keyline {
    flex-grow: 1;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  @include clearfix();
}

.profile-pic {
  margin-top: -5px;
  margin-right: 18px;

  img {
    height: $profile-pic-size;
    width: $profile-pic-size;
    border-radius: 50%;
    border: 2px solid $primary-color;
  }
}

.summary {
  margin: spacing(1) 0 spacing(1);
  line-height: 1.6;
}

.summary-container {
  .summary {
    margin: 0;
  }
}

.resume-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: spacing(4);
  
  .header-left {
    flex: 1;
    
    .header-name {
      @include nunito(700);
      font-size: 32px;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 0 0 spacing(1) 0;
      color: $gray-darkest;
    }
    
    .header-label {
      @include nunito(400);
      font-size: 18px;
      color: $gray-dark;
      margin: 0;
    }
  }
  
  .header-right {
    text-align: right;
    
    .contact-info {
      font-size: 14px;
      
      .contact-item {
        display: block;
        margin-bottom: spacing(0.5);
        color: $gray-darkest;
        
        &:last-child {
          margin-bottom: 0;
        }
        
        .contact-label {
          font-weight: 600;
          color: $gray-darkest;
        }
        
        a {
          color: $link-color;
          text-decoration: none;
          
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
