.skills-container {
  .skills-list {
    margin-top: spacing(1);
  }
  
  .skill-category {
    margin-bottom: spacing(0.5);
    line-height: 1.2;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  .category-label {
    font-weight: 700;
    font-size: 13px;
    margin-right: spacing(1);
  }
  
  .skill-keywords {
    font-size: 12px;
    line-height: 1.2;
    color: $gray-darkest;
  }
}

