.work-container,
.volunteer-container {
  .work-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: baseline;
    margin-bottom: spacing(1);
    gap: 10px;
    
    .work-position {
      font-weight: 700;
      font-size: 14px;
      text-transform: none;
      text-align: left;
      grid-column: 1;
    }
    
    .work-company {
      font-weight: 700;
      font-size: 14px;
      text-align: center;
      text-transform: none;
      grid-column: 2;
      white-space: nowrap;
      padding: 0 10px;
    }
    
    .work-date {
      font-style: italic;
      font-size: 14px;
      text-align: right;
      text-transform: none;
      white-space: nowrap;
      grid-column: 3;
    }
  }
  
  ul {
    margin-top: spacing(2);
    
    li {
      line-height: 1.6;
      margin-left: spacing(-2);
      
      strong {
        font-weight: 700;
      }
    }
  }
}

